<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsRead: Connecting Books to your World</title>
</head>
<body>
    <h1>NewsRead</h1>

    <form method="post">

          <label for=""> Reading is a way to facilitate critical dialogue and view the world in different lenses. Find books on current events    </label>

        <input type="text" name="topic" placeholder="Enter current event/topic" required>
        <button type="submit">Find Books</button>

        <input type="text" name="topic" placeholder="Enter book subject " required>
        <button type="submit">Find Articles</button>

        <input type="text" name="topic" placeholder="Enter book title " required>
        <button type="submit">Find Articles</button>

    </form>

    {% if topic %}
        <h2>Results for "{{ topic }}"</h2>
        {% include 'results.html' %}
    {% endif %}
</body>
</html>